
@import url('https://fonts.googleapis.com/css2?family=Mooli&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tilt+Neon&display=swap');

body {
  margin: 0;
  margin-top: 90px;
}

main{
  font-family: 'Mooli', sans-serif;
}

header{
  font-family: 'Tilt Neon', sans-serif;
}

.fixed-header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

/*inicio de header*/
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  background-color: #FFF;   
  color: #213d19;
  text-align: center;
}

.nav-links {
  margin-right: 70px;
}

.nav-links a {
  margin: 0 15px;
  text-decoration: none;
  color: #213d19;
  transition: font-size 0.3s;
  scroll-behavior: smooth;
  font-size: 18px;
}

.nav-links a:hover {
  font-size: 19px;
  color: #c6a734;
}

.logo-dos a:hover img{
  transform: scale(1.1);
  transition: 0.5s ease-out;
}

.logo-uno a:hover img{
  transform: scale(1.1);
  transition: 0.5s ease-out;
}

.logo-uno img {
  max-height: 67px;
  margin-left: 60px;
}

.logo-dos{
  margin-right: 60px;
}

.logo-dos img {
  max-height: 70px;
}
/* fin del header*/

.mapamundi{
  margin-top: 110px;
}

.mapamundi img:hover {
  transform: scale(1.05);
  transition: 1s ease-out;
}

h1{
  margin-left: 100px;
  font-size: 2rem;
  color: #818735;
}

.who-we-are{
  margin-top: 100px;  
  margin-bottom: 50px; 
}

#home{
  background-image: url(/imag/fondos.png);
  background-size:cover;
  background-repeat: no-repeat;
  background-position: center;
  margin: 0;
  padding: 0;
  height: 90vh;
  width: 100%;
}

.container {
  display: flex;
  flex-wrap: wrap; 
  justify-content: center; 
  margin-bottom: 70px;
  
}

.image-container {
  margin: 30px; 
  text-align: center; 
  width: 150px;
}

.image-container img {
  width: 150px; 
  height: 150px;
}

.image-container h1 {
  width: 100%; 
  margin: 10px 0; 
}

.image-container p{
  width: 100%;
}

/*parte who we are*/
.who-principal{
  padding: 5px;
  display: flex;
}

.who-parrafo{
  text-align: center;
  padding: 10px;
}

.who-imagenes{
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  margin-top: 0px;
  margin-left: 15px;
  margin-right: 15px;
}

.who-imagenes img{
  border-radius: 3px;
}

.siembra{
  height: 330px;
  width: 3000;
}
.sgs {
  height: 95px;
  margin-top: 10px;
}

.video{
  margin-bottom: 90px;
}

/*parte contacto*/
.container-tres {
  display: flex;
  align-items: center;
  justify-content: center;
}
.anchors {
  width: 50%;
  text-align: center;
}
.anchors a {
  color: #818735;
  display: block;
  margin: 10px 0;
  text-decoration: none;
  padding: 20px;
  transition: font-size 0.3s;
  
}
.anchors a:hover{
  color: #c6a734;
  font-size: 1.05rem;
}
.map {
  width: 100%;
  padding: 20px;
  align-items: center;
}
iframe{
  width: 100%;
  height: 450px;
}

  /*inicio footer*/
  .foot{
    margin-top: 50px;
    text-align: center;
    font-size: 13px;
    color: #213d19;
    line-height: 1.8;
  }

  footer{
    font-family: 'Tilt Neon', sans-serif;
    background-color: #FFF
  }
  /*fin footer*/

  .whatsapp{
	position:fixed;
	width:60px;
	height:60px;
	bottom:40px;
	right:40px;
	background-color:#25d366;
	color:#FFF;
	border-radius:50px;
	text-align:center;
  font-size:30px;
	box-shadow: 2px 2px 3px #999;
  z-index:100;
}
.whatsapp:hover {
	text-decoration: none;
	color: #25d366;
  background-color:#fff;
  transform: scale(1.3);
  transition: 1s;
}

.my-float{
	margin-top:16px;
}

@media screen and (max-width: 800px) {
  .container-tres {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
  }
  
  .anchors {
    width: 100%;
    text-align: center;
  }
  .anchors a {
    padding: 7px;
    
  }
  
  a {
    display: block;
    margin: 10px 0;
  }
  
  .map {
    width: 100%;
  }

  iframe{
    width: 100%;
    height: 450px;
  }

  .fixed-header {
        position: relative;
        top: 0;
        width: auto;
        z-index: 1000;
  }

    .navbar {
      flex-direction: column;
      text-align: center;
      align-items: center;
  }

  .nav-links {
    margin-top: 7px;
    margin-right: 0;
  }

  .nav-links a {
    display: block;
    margin: 7px 0;
    font-size: 17px;
  }

  .logo-uno img {
    max-height: 35px;
    margin: 0;
    margin-left: 0;
  }

  .logo-dos img {
    max-height: 38px;
    margin-left: 54px; 
  }

  .mapamundi{
    margin-top: 40px;
  }

  .mapamundi img{
    margin-top: 110px;
    width: auto;
  }

  h1{
    margin-left: 0px;
    text-align: center;
  }

  body{
    margin-top: 0px;
    margin-left: 0px;
  }
  .who-principal{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .who-parrafo{
    text-align: center;
  }
  .who-img-uno .siembra{
    width: 100%;
  }
  .siembra{
    text-align: center;
    align-items: center;
  }
}

@media (max-width: 768px) {
  #home{
      width: 100%;
  }
}
















